body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

.white-card {
    background-color: white;
}

.join {
    color:  hsl(179, 62%, 43%);
    font-size: 2rem;
    font-weight: 700;
}

.guarantee {
    color: hsl(71, 73%, 54%);
    font-size: 1.5rem;
}

.description {
    color: hsl(218, 22%, 67%);
}

.green-cards {
    color: white;
}

.green-cards h3 {
    font-weight: 700;
    font-size: 1.3rem;
}

.green-card-left {
    background-color: #2bb3b1;
}

.green-card-right {
    background-color: #4abebd;
}

.list-description {
    list-style: none;
    padding-left: 0;
}

.attribution {
    padding-top: 1rem;
    text-align: center;
}