body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    background-color: #e6eff6;
}

.container {
    padding: 15rem 15rem 0 15rem;
}

/*----- White Card -----*/
.white-card {
    background-color: white;
    box-shadow: 0 -0.3rem 1rem 0 #d2dbe3;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    padding: 2rem;
}

.join {
    color:  hsl(179, 62%, 43%);
    font-size: 1.8rem;
    font-weight: 700;
}

.guarantee {
    color: hsl(71, 73%, 54%);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 0 0 0;
}

.description {
    font-weight: 700;
    color: hsl(218, 22%, 67%);
    margin: 0;
    line-height: 1.5;
}

/*----- Green Cards -----*/
.green-cards h3 {
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}

.green-cards p{
    color: hsl(204, 43%, 93%);
}

.price {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
}

.per-month {
    color: #77dfe3;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    padding-left: 0.4rem;
    vertical-align: 0.4rem;
}

.green-card-left {
    background-color: #2bb3b1;
    padding: 2rem;
    box-shadow: -0.3rem 0.3rem 0.5rem 0.1rem #d2dbe3;
    border-bottom-left-radius: 0.5rem;
}

.green-card-right {
    background-color: #4abebd;
    padding: 2rem;
    box-shadow: 0.3rem 0.3rem 0.5rem 0.1rem #d2dbe3;
    border-bottom-right-radius: 0.5rem;
    border-left: 1px solid #2bb3b1;
}

.list-description {
    color: hsl(204, 43%, 93%);
    list-style: none;
    font-size: 0.9rem;
    padding-left: 0;
}

/*----- Register Button -----*/
.btn-primary {
    margin-top: 0.5rem;
    padding: 0.7rem 5.7rem;
    background-color: #bfdf32;
    color: white;
    border-radius: 0.4rem;
    border: none;
    box-shadow: 0.3rem 0.3rem 1rem 0.1rem #26a29f;
}

.btn-primary:hover {
    color: hsl(218, 22%, 67%);
    background-color: white;
}

/*----- Footer -----*/
.attribution {
    color: #7f7f7f;
    padding-top: 1rem;
    text-align: center;
}

.attribution a {
    color: #26a29f;
}

/*----- Media Queries -----*/
@media screen and (min-width: 375px) and (max-width: 992px){
    .container {
        padding: 5rem 0 0 0;
        width: 65%;
    }

    .btn-primary {
        padding: 0.7rem 6rem;
    }

    .guarantee {
        padding-bottom: 1rem;
    }

    .green-card-left {
        border-bottom-left-radius: 0;
    }

    .green-card-right {
        border-bottom-left-radius: 0.5rem;
    }
}